// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;


// Brand colors
// -------------------------

@brand-primary:                   #002C5B;
@brand-primary-constrast:         #BF2F38;
@brand-primary-muted:             #11BFDA;
@brand-secondary-greyscale-dark:  #000000;
@brand-secondary-greyscale-light: #EFEFEF;
@brand-secondary-light:           #E2FAFE;


// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";
